<h2>Update User</h2>
<form [formGroup]="updateForm" class="form-group">
  <div class="form-group">
    <label for="fn">FirstName</label>
    <input type="text" class="form-control" id="fn" name="fn" formControlName="fn">
    <!-- <small class="text text-danger" *ngIf="fn?.errors?.['required'] && fn.touched">FirstName is required</small>
      <small class="text text-danger" *ngIf="fn?.errors?.['minlength'] && fn.touched">must be more then 3 letters</small>
      <small class="text text-danger" *ngIf="fn?.errors?.['pattern'] && fn.touched">number not allowed</small> -->
  </div>
  <div class="form-group">
    <label for="ln">LastName</label>
    <input type="text" class="form-control" id="ln" name="ln" formControlName="ln">
    <!-- <small class="text text-danger" *ngIf="ln?.errors?.['required'] && ln.touched">LastName is required</small>
      <small class="text text-danger" *ngIf="ln?.errors?.['minlength'] && ln.touched">must be more then 3 letters</small>
      <small class="text text-danger" *ngIf="fn?.errors?.['pattern'] && fn.touched">number not allowed</small> -->
  </div>

  <label for="skills">Skills</label>
  <div formArrayName="skills" id="skills">
    <button class="btn btn-primary" (click)="addSkill()">add skills </button>
    <div *ngFor="let skill of skills.controls; let i=index">
      <input type="text" id="skill-{{i}}" class="form-control" name="skill-{{i}}" [formControlName]="i">
    </div>
  </div>


  <div class="form-group">
    <label for="ln">BirthDate</label>
    <input type="date" class="form-control" id="bd" name="bd" formControlName="bd">
    <!-- <small class="text text-danger" *ngIf="bd?.errors?.['required'] && bd.touched">BirthDate is required</small> -->
  </div>

  <div class="form-group">
    <label for="fn">Email</label>
    <input type="email" class="form-control" id="em" name="em" formControlName="em">
    <!-- <small class="text text-danger" *ngIf="em?.errors?.['required'] && em.touched">Email is required</small>
        <small class="text text-danger" *ngIf="em?.errors?.['pattern'] && em.touched">email must be with domaine @gmail</small> -->

  </div>

  <div class="form-group">
    <label for="ln">Password</label>
    <input type="password" class="form-control" id="pw" name="pw" formControlName="pw">
    <!-- <small class="text text-danger" *ngIf="pw?.errors?.['required'] && pw.touched">Password is required</small>
        <small class="text text-danger" *ngIf="pw?.errors?.['minlength'] && pw.touched">must be more then 8 letters</small>
        <small class="text text-danger" *ngIf="pw?.errors?.['pattern'] && pw.touched">characters must be without accents,</small> -->
  </div>

  <div class="form-group">
    <label for="ln">Profession</label>
    <input type="text" class="form-control" id="pf" name="pf" formControlName="pf">
    <!-- <small class="text text-danger" *ngIf="pf?.errors?.['required'] && pf.touched">Profession is required</small>
        <small class="text text-danger" *ngIf="pf?.errors?.['minlength'] && pf.touched">must be more then 3 letters</small>
        <small class="text text-danger" *ngIf="pf?.errors?.['pattern'] && pf.touched">number not allowed</small> -->
  </div>
  <div class="form-group">
    <label for="ln">Customer Category</label>
    <input type="text" class="form-control" id="cc" name="cc" formControlName="cc">
    <!-- <small class="text text-danger" *ngIf="cc?.errors?.['required'] && cc.touched">LastName is required</small>

        <small class="text text-danger" *ngIf="cc?.errors?.['pattern'] && cc.touched">must be Customer</small> -->
  </div>

  <button type="submit" class="btn btn-primary" (click)="update()">Submit</button>
</form>